In [1]:
import pandas

In [2]:
import fuzzywuzzy

In [4]:
trial = pandas.read_excel("Information is Beautiful- Data Breaches (public).xlsx")

In [10]:
import json

In [11]:
import requests

In [13]:
import urllib

In [48]:
def get_symbol(name):
    url = "http://d.yimg.com/autoc.finance.yahoo.com/autoc?query={}&region=1&lang=en".format(name)

    result = requests.get(url).json()
    
    for x in result['ResultSet']['Result']:
        #if x['name'] == name :
            #if (x['exchDisp']=='NYSE'or x['exchDisp']=='NASDAQ'):
                #if x['typeDisp']=='Equity':
                    return x['symbol']
        
##company = get_symbol("twitter")
##print(company)
ticker=[]
cmp_name = trial1.Entity
##for  xyz in cmp_name:
    ##ticker = get_symbol(xyz)
    ##print(ticker)
    
for  xyz in cmp_name:
    ticker.append(get_symbol(xyz))
    
    
print(ticker)

['AOL-U.TI', 'ADP', None, 'CIT-U.TI', None, 'HPQ', None, 'KDDIY', None, 'AOL-U.TI', None, None, None, 'GPS', None, None, None, None, None, 'AMTD', 'FIS', 'DNPCF', None, None, None, None, None, 'AT', 'SBUX', None, None, None, '^UMIAMIFL', None, None, None, None, None, None, None, None, None, None, None, None, 'LYNS', None, None, 'IGRW', None, None, None, None, 'HTLD', None, 'AT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'PPB.L', 'JPM-PB', None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'CIT-U.TI', None, None, 'GB00B1Z54R10.L', None, None, None, 'SGAMY', None, None, None, None, None, None, None, 'NHS', None, None, None, '600488.SS', '200771.SZ', None, None, None, None, None, None, None, None, None, 'GPN', None, None, None, None, None, 'KTC.DU', None, None, 'ATVI', None, None, None, None, 'KCT.V', 'K55306BA2822.KS', None, None, None, None, None, None, 'CIT-U.TI', None, None, '2GF.F', 'NTDOY', 'TWTR', 'AAPL', 'OVH.AX', None, None, 'NMBS.KL', None, None, None, 'VOD', None, None, None, 'FB', 'YAHOY', 'ADBE', None, None, 'UBI.PA', 'AABA', None, None, 'NDAQ', None, 'JAPSY', None, None, 'D', None, 'SPLS', None, 'UPS', 'CYH', None, None, None, None, 'AOL-U.TI', 'HD', 'TGT', 'JPM-PB', 'EBAY', 'AABA', None, None, 'IRS', 'TALK.L', 'MSPYX', None, None, None, None, None, 'CPWFF8.EX', 'SJ8.MU', None, None, '0303.HK', None, None, None, None, None, None, None, None, None, None, None, 'FLINGX', None, None, 'ANTM', 'VKTX', None, None, None, None, None, None, None, None, 'DGX', 'ATGAX', None, None, None, None, None, None, 'T', None, None, None, None, '035080.KQ', None, 'AABA', None, None, None, None, None, None, '^CEX', None, None, 'EFX', None]

In [50]:
trial_tick1 = pandas.DataFrame(ticker)
trial_tick1['Ticker_Symbols'] = pandas.Series(ticker, index=trial_tick.index)

In [22]:
del trial_tick[0]

In [26]:
trial_tick.to_excel("ticker_symp.xlsx")

In [27]:
list = trial_tick.values.T.tolist()

In [30]:
trial_tick = trial_tick[~trial_tick['Ticker_Symbols'].isnull()]

In [32]:
list1 = trial_tick.values.T.tolist()

In [37]:
trial1 = pandas.read_excel("assignment2.1.xlsx")

In [41]:
import datetime
import pandas_datareader

In [43]:
start = datetime.datetime(2004,1,1)
end = datetime.datetime(2017,6,6)
data_source = 'yahoo'
data = pandas_datareader.DataReader(ticker, data_source, start, end)

C:\Users\Bhargav Ravi\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'AOL-U.TI', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Bhargav Ravi\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: None, replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Bhargav Ravi\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'CIT-U.TI', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Bhargav Ravi\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: '^UMIAMIFL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Bhargav Ravi\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'JPM-PB', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Bhargav Ravi\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'KCT.V', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Bhargav Ravi\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'NMBS.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Bhargav Ravi\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'CPWFF8.EX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Bhargav Ravi\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'FLINGX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\Bhargav Ravi\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: '536128.BO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [44]:
data

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 3574 (major_axis) x 65 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2004-01-01 00:00:00 to 2017-06-07 00:00:00
Minor_axis axis: NAN to 536128.BO

In [77]:
close = panel_data.ix['Close']

# Getting weekdays between 01/01/2000 and 12/31/2016
weekdays = pandas.date_range(start=start, end=end, freq='B')

close = close.reindex(weekdays)

In [53]:
trial1['Ticker_Symbols']=trial_tick1['Ticker_Symbols']

In [54]:
trial1 = trial1.dropna(axis=0,how='any')

In [58]:
trial1.to_excel("data_ticker.xlsx")

In [59]:
stock = close

In [60]:
stock = stock.T

In [62]:
stock.to_excel("stock_lab3.xlsx")

In [67]:
stock_t=stock

In [68]:
stock_t=stock_t.T

In [76]:
stock_t.resample('M').mean()

,NAN,ADP,HPQ,KDDIY,GPS,AMTD,FIS,DNPCF,AT,SBUX,...,AOL-U.TI,None,CIT-U.TI,^UMIAMIFL,JPM-PB,KCT.V,NMBS.KL,CPWFF8.EX,FLINGX,536128.BO
2004-01-31,15.959500,32.813820,11.182107,NaN,20.274500,15.622000,33.138000,NaN,NaN,8.636375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-02-29,16.277368,34.273308,10.610211,NaN,20.263158,16.257368,33.383684,NaN,NaN,9.359605,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-03-31,16.422609,33.418687,10.141768,NaN,20.969565,15.283913,33.840434,NaN,NaN,9.361957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-04-30,14.745238,35.283799,9.969292,NaN,22.213810,14.581429,35.334286,NaN,NaN,9.680357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-31,13.898500,35.752519,9.216848,NaN,22.587500,11.603000,36.490500,NaN,NaN,9.681375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-06-30,14.114762,34.690889,9.662428,NaN,24.753809,11.503333,38.330000,NaN,NaN,10.700000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-07-31,14.666667,32.082085,9.081787,NaN,22.739048,10.400000,38.020476,NaN,NaN,11.576667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-08-31,14.873182,31.704179,8.408265,NaN,20.123637,11.075455,37.469545,NaN,NaN,11.103068,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-09-30,14.946667,33.007705,8.318412,NaN,19.696667,11.911429,38.591429,NaN,NaN,11.237976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-10-31,15.202381,33.327196,8.411833,NaN,19.519048,12.143810,36.360952,NaN,NaN,12.314048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-11-30,15.386667,35.674289,8.941222,NaN,22.382857,13.899524,35.218095,NaN,NaN,13.803452,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-12-31,15.407727,35.608578,9.522129,NaN,20.925455,14.080455,34.324545,NaN,NaN,14.896023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-31,15.674000,34.161236,9.172571,NaN,21.046000,12.752000,34.981500,NaN,NaN,14.238000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-28,15.647368,34.038729,9.374253,NaN,21.389474,11.306316,34.993685,NaN,NaN,12.713158,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-31,15.310909,34.997558,9.330980,NaN,21.706818,10.657273,35.464091,NaN,NaN,13.245341,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-30,15.202381,35.122920,9.607284,NaN,21.454762,10.679048,34.096190,NaN,NaN,12.045833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-05-31,15.819524,35.003961,9.816184,NaN,21.255238,13.224286,36.566191,NaN,NaN,13.364167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-30,15.959545,33.835719,10.676038,NaN,20.717727,16.000909,37.945454,NaN,NaN,13.583182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-07-31,16.347000,34.116031,11.057902,NaN,20.842000,19.262000,37.349000,NaN,NaN,12.897375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-08-31,16.146956,34.888269,11.595190,NaN,20.380000,20.108696,34.051739,NaN,NaN,12.707935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-09-30,16.394762,33.539058,12.770858,NaN,17.995238,20.961905,37.183809,NaN,NaN,12.010119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-10-31,15.782381,34.616115,12.502271,NaN,16.604762,20.516191,38.038095,NaN,NaN,13.272262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-11-30,15.837143,37.267970,13.125514,NaN,17.752857,22.469048,39.598571,NaN,NaN,15.210238,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-12-31,16.224286,36.993419,13.250076,NaN,17.782381,24.170476,40.297619,NaN,NaN,15.507143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-31,16.551500,36.177205,14.104451,NaN,17.458500,24.135500,43.118500,NaN,NaN,15.592750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-02-28,16.516842,35.656996,14.544433,NaN,18.527368,19.994736,38.396842,NaN,NaN,17.523947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-03-31,16.005218,36.981268,15.098527,NaN,18.153044,21.100000,40.064348,NaN,NaN,18.116739,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-04-30,15.892105,36.428773,15.042545,NaN,18.041053,20.667368,38.885263,NaN,NaN,19.010263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-05-31,15.952273,35.409591,14.754768,NaN,18.184545,17.815454,37.438182,NaN,NaN,18.397727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006-06-30,15.680455,35.629125,14.418710,NaN,17.455454,15.452273,36.191364,NaN,NaN,18.068637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-01-31,13.805000,84.439500,17.721163,11.074333,41.859500,33.697500,62.799500,17.978000,2.690000,41.495000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-28,13.846316,87.416842,17.025910,11.204210,41.099474,35.606842,66.134211,17.980000,2.700526,45.764737,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-31,13.786818,86.524090,14.932499,11.285455,42.012727,37.207727,67.070000,18.896364,2.870000,47.314545,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-30,14.022857,85.487142,14.793694,12.022222,41.173333,36.590952,65.263810,20.500000,2.947619,48.581666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-31,13.793500,86.647500,15.192552,11.705000,38.925000,36.964000,63.990001,20.500000,3.198500,50.550500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-30,13.469091,83.797273,14.593551,11.497727,38.404545,37.860909,62.923181,20.500000,3.004545,52.953182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-31,13.536364,81.172727,13.880150,12.430000,37.335909,37.158182,63.399546,20.500000,2.823636,55.800909,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-31,13.420952,80.490476,12.938022,12.809048,34.027143,35.124286,68.276666,20.500000,2.263333,56.036667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-09-30,13.361429,78.520000,12.103066,11.534762,31.729047,32.733810,68.322382,20.500000,2.090000,56.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-10-31,13.706818,86.187728,12.799728,11.553636,27.350454,32.587273,70.472727,20.500000,2.094091,60.542727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-11-30,13.766500,86.673000,13.671500,12.204000,26.934500,36.474500,66.060001,20.500000,2.061000,61.714500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31,13.941364,85.570000,11.998182,12.484091,25.775000,35.305454,61.878182,20.500000,1.813182,60.525454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-31,14.057368,79.880526,10.301053,12.244737,23.814211,29.857895,59.118421,19.118948,1.771053,58.324737,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-29,14.287000,83.423000,9.988000,12.889000,25.179500,27.260500,58.845500,18.860001,1.750500,57.415000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-03-31,14.507727,87.512727,11.676364,13.304545,29.421429,31.098636,61.855909,18.860001,2.152273,58.893636,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-04-30,15.082381,89.940477,12.430952,14.177500,24.991428,31.277143,64.896666,18.860001,2.512857,59.602381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-05-31,15.110476,86.982380,11.879048,14.693333,19.203809,30.054286,72.380000,18.860001,2.398095,55.711429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-30,15.426818,88.017273,13.020909,14.545455,19.749091,29.974091,73.520909,18.860001,2.384091,55.337273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-31,15.754000,94.254499,13.625000,15.319500,23.646000,29.183000,77.247500,20.060001,2.515500,57.315000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-31,15.513478,89.570870,14.343478,15.645217,25.567391,31.215652,79.389130,21.555653,2.507826,56.042609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-30,15.272381,88.275714,14.764286,15.200476,23.029048,32.970953,77.601906,20.860001,2.531905,54.468095,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-31,14.512857,87.206666,14.687619,14.871905,25.761905,35.540952,76.068572,20.860001,2.404286,53.340000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-11-30,13.653810,92.946666,15.362857,13.506667,27.078095,37.532381,76.731905,20.860001,2.466667,55.191905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-31,13.443333,99.752857,15.369048,12.846190,24.389524,43.368571,75.990000,20.291429,2.573810,57.665714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-31,13.624500,102.789500,14.856500,13.222500,23.710500,46.371000,78.756500,19.760000,2.462500,57.379500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-28,13.724737,98.951579,16.083158,13.091053,23.946842,42.769474,80.978420,20.164211,2.328947,56.240000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-31,13.452174,103.819565,17.404348,13.202174,23.953478,39.124783,81.426087,20.240000,2.547826,56.186522,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-30,13.747895,102.698947,18.106842,13.111053,24.648421,38.092632,81.279474,20.240000,2.589474,59.104737,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-05-31,13.836364,99.287727,19.000000,13.535909,24.342273,37.976363,83.795455,20.240000,2.420455,61.114091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-30,13.935000,101.657499,18.747500,13.875000,22.470000,37.842500,86.560000,20.240000,2.487500,64.187500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
stock_t1=stock

In [72]:
stock_t1=stock_t1.T

In [80]:
stock_t1.to_excel("sock_row.xlsx")

The 2017 Cost of Data Breach Study shows that $141 is the average cost per lost or stolen records and $3.62 million is the average total cost of data breach. The costs include law suit costs, the payment needed to be made to customers who lost data and also cost to take measures for the breach.

This might lead us to believe that a data breach costs the company a lot of money and has to have a big effect on the share holder's belief of the company. Let us see if this is the case by observing the share price before and after a data breach.

The first dashboard: https://public.tableau.com/views/LabAssignment3/Dashboard1?:embed=y&:display_count=yes&publish=yes shows the share price variation during a breach for all the companies. A first glace shows that there is no visible effect of the breaches on share prices. But the graph is too crowded with too much data.

The second dashboard:https://public.tableau.com/views/LabAssignment3/Dashboard2?:embed=y&:display_count=yes picks up 4 companies which have had their share prices differently affected by data breaches. Apple and Facebook shows a constant increase in their share price irrespective of the breach. TalkTalk on the other had was affected badly while MSPYX didnt show any change at all. From this graph we get a hint as to how the data breach may not affect stock price. So it would be intersting to see how many companies fall in each of these categories.

The third and final dashboard:https://public.tableau.com/views/Book1_24462/Dashboard3?:embed=y&:display_count=yes&publish=yes shows the overall data records stolen vs the share price without the clutter of the first. The bar graph shows us the percentage and number of companies in each of the categories of how the breach changed their share price. If we ignore the no-data and breaches before IPO then we can see that only in 20% of the companies there was a decrease in share price and for the rest of the companies the share price was either same or it increased. From this graph we can also say that the increase in overall stock is due to the performance of the companies and not due to data breaches. Data breaches is simply not cared about as we can gather from the news.

In conclusion, We can say that the companies whose share price decreased were really outliers and financial market does not really punish security breaches.